/node_modules
/public/build
/public/hot
/public/storage
/public/phpinfo.php
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
.DS_Store
*.log
*.zip
*.sql
/database/database.sqlite
/database/database.sqlite-journal
Homestead.json
Homestead.yaml
auth.json
phpunit.result.cache
Thumbs.db
